ul {
  padding: 0;
  list-style: none;
  background: #a7ceff;
}

li {
  display: inline-block;
  width: 23%;
  min-height: 120px;
  margin-top: -10px; 
  margin-left: 1.6%;
  line-height: 120px;
  text-align: center;
  background: #ffffcc;
}
<!--practicing last-child-->
li:last-child {
  margin-right: 1.6%;
}
